* {
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* width: 300px;              Match analytics sidebar width */
  min-width: 265px;
  max-width: 340px;
  height: 100vh;
  background-color: #1B65AD;
  overflow-y: auto;          /* Allow vertical scroll if needed */
  overflow-x: visible;       /* Prevent horizontal clipping */
  padding: 1rem;
  justify-content: flex-start;
  justify-items: center;
  text-align: center;
   height: 100vh;
}

.icon{
  /* font-size: 15rem; wont change size */
  color: white;  
  border: none;
}

.notif-icon {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 4rem;      
}
.role p{
  margin: 0 0 6rem 0;
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
}
.logo {
  width: 100%;         
  max-width: 180px;    
  height: auto;        
  object-fit: contain;
}

.links{
  text-align: left;
}
.links a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  margin-bottom: 1px;
  border-radius: 3px;
  width: 100%;
  font-size: 1.3rem;
  word-break: break-word;    /* Allow long text to wrap */
  white-space: normal;       /* Allow text to wrap */
}

.links a:hover {
  background-color: #0099ff;
}

.footer{
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logout {
  color: white; 
  border: none; 
  font-size: 1.4rem;
  cursor: pointer;
}
.logout:hover{
  font-weight: bold;
}
button {
  all: unset; 
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  padding: 10px; 
  cursor: pointer; 
}